*{
    background-color: black;
    color: white;
}
header{
text-align: center;
}
.container{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.first, .second{
    display: flex;
    flex-direction: column;
    width: 40vw;
}
label{
    text-align: center;
}
.result-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
textarea{
    margin-top: 10px;
    height: 50vh;
    border-color: cadetblue;
    border-radius: 7px;
}

button{
    background-color: cadetblue;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 25px;
}